<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        span {
            font-size: 3rem;
        }

        .block {
            display: flex; 
            flex-direction: column; 
            align-items: center;
        }

        button {
            width: 20rem; 
            height: 5rem; 
            margin-top: 5rem; 
            cursor: pointer; 
            background-color: gold;
            opacity: .8;
        }

        button:hover {
            opacity: 1;
        }
    </style>
</head>
<body>
    <div class="block">
        <span>Не заполнены статусы задач в настройках доски</span>
        <button class="settings">Настройки</button>
    </div>
</body>
</html>