*.axdt binary
*.addin binary
Form.bin binary
*.bin binary
*.png binary
*.ico binary

* text=auto eol=lf

*.bsl text
*.mdo text
*.xml text
*.txt text
*.mxlx text
* text=auto
*.htm text
*.html text
renames.txt text
*.bsl  text
*.xml  text
*.feature text
*.md text
*.json text
*.bat text
*.cmd text
*.os text
*.sh text
*.groovy text
*.supress text 
ParentConfigurations.bin text eol=lf